body {
  padding-bottom: 20px;
}

form label {
  font-weight: bold;
}

.table-bordered td,
.table-bordered th {
  border-left: none !important;
  border-right: none !important;
}

.fixed-table-toolbar {
  width: 100%;
}