body {
  padding-bottom: 20px;
}

form label {
  font-weight: bold;
}

.card {
  margin-top: 30px;
}

#company-cards .card-header {
  border: none;
  margin: 0;
  padding-bottom: 0;
  margin-right: 5px;
}

#company-cards .card-footer {
  border: none;
}

#company-cards .card-body {
  padding: 10px;
}

#company-cards .card-body * {
  display: inline;
}

#company-cards .card-body .outer {
  margin: 5px;
}

#company-cards .card-header,
#company-cards .card-body,
#company-cards .card-footer {
  background-color: inherit;
}

#company-cards .card {
  background-color: lightGrey;
}

#company-cards .card:hover {
  cursor: pointer;
  transform: scale(1.05)
}

.custom-container {
  border: 1px solid black;
  padding: 0;
}

.custom-container input,
.custom-container .clear-btn {
  display: inline-block;
}

.custom {
  border: none;
  width: 95%;
  padding: 5px;
}

#dropdownMenuButton {
  margin-bottom: 10px;
}

#questionSearchInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

#questionInput,
#textAreaInput {
  margin-top: 10px;
  margin-bottom: 10px;
}
